<div class="row">
  <div class="col-7">
    <h2 class="font-weight-bold">購入内容の確認</h2>
    <hr class="mt-4">
    <div class="d-flex">
      <% if @item.images.attached? %>
        <%= image_tag @item.images[0], class:"mr-5" ,style:"height:150px; width:100px; object-fit:cover;" %>
      <% end %>
      <div class="">
        <p><%= @item.title %></p>
        <strong><%= @item.price %></strong>
        <p>配送料の負担　<%= @item.delivery_fee_i18n %></p>
      </div>
    </div>
    <hr>
  </div>
  <div class="col-5">
    <%= form_with(model:@order, method: :post, local:true, data: { confirm: "この商品を購入しますか？" }) do |f| %>
      <%= f.hidden_field :buyer_id, :value => current_user.id %>
      <%= f.hidden_field :seller_id, :value => @item.user_id %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.submit "購入する", class:"btn btn-primary btn-block py-2" %>
    <% end %>
  </div>
</div>
